@import url('header.css');
@import url('navbar.css');
@import url('footer.css');

html {
    font-size: 8px;
    width: 100vw;
  }
  @media(min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

body{
    background-color: rgb(109, 109, 109);
    color: white;
}
.mainGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60vh auto auto auto;
    grid-gap: 0;
    grid-template-areas: 
    "hd"
    "nv"
    "fd"
    "ft";
}

.featured{
    grid-area: fd;
    display: flex;
    flex-direction: column;
    background-image: url('../images/car.jpg');
}
.content{
    width: 92%;
}
.recent{
    width: 90%;
}
.contentHead{
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: 600;
    padding: 15px 0;
}
@media (min-width:800px){
    .featured{
        grid-area: fd;
        padding: 30px 65px;
        display: flex;
        flex-direction: row;
        background-image: url('../images/dark_featured_bg.jpg');
    }
    .content{
        width: 70%;
    }
    .recent{
        width: 30%;
    }
    .contentHead{
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        font-weight: 600;
        padding: 15px 0;
    }
}
.card{
    padding: 20px;
    margin: 34px 13px;
    color: rgb(212, 254, 255);
    border: 1px solid yellow;
    border-radius: 10px;
}

#post1{
    background-image: url('../images/tech2.jpg');
}
#post2{
    background-image: url('../images/tech3.jpg');
}
#post3{
    background-image: url('../images/tech4.jpg');
}
.postHeading{
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(255, 248, 29);
}
.postContent{
    font-family: Tahoma,'Segoe UI', Geneva, Verdana, sans-serif;
    line-height: 36px;
    font-size: 0.6rem;
    color: white;
}
.post{
    color: #37f8ff;
    font-size: 0.65rem;
    text-decoration: none;
}
.recentList{
    padding: 34px 73px;
    line-height: 54px;
}
.recentList li a{
    font-size: 0.75rem;
    text-decoration: none;
    color: rgb(117, 246, 255);
}
figure{
    margin: 42px 34px;
}
figcaption{
    font-size: 0.6rem;
    padding: 1px 96px;
}
figure img{
    width:70%; 
    height:70%;
    padding: 10px 36px;
}